.game-section-menu, .game-section-menu-config{
    background-color: var(--complementary);
    padding: 50px;
    color: #fff;
    border-radius: 10px;
}

.game-section-menu-config{
  display: none;
}

.content-config{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label-volume{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.label-volume p{
  width: 100%;
}

.label-volume svg.disable{
  display: none;
}

.label-volume svg.active{
  display: block;
}

.content-config #back{
  border: 1px solid #fff;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s all;
  outline: none;
  background-color: transparent;
  color: #ffff;
  font-size: 1.1em;
}

.content-config #back:hover{
  background-color: #fff;
  color: var(--complementary);
  border: 1px solid var(--complementary);
}

.content-config #volume-mute{
  background: transparent;
  outline: none;
  border: none;
  padding: 10px;
}

#name{
  padding: 5px;
  border: none;
  outline: none;
}

.game-menu ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding: 10px;
    text-align: center;
    gap: 5px;
}

.game-menu ul li{
    border: 1px solid;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s all;
}

.game-menu ul li:hover{
    background-color: #fff;
    color: var(--complementary);
    border: 1px solid var(--complementary);
}

.hidden-animation-top{
	-webkit-animation: scale-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  display: none;
}

/* INPUT DO VOLUME */
input[type="range"] {
  -webkit-appearance: none;
  width: 200px; 
  height: 8px; 
  background: #ccc;
  border-radius: 5px;
  outline: none;
  cursor: pointer; 
  transition: background 0.3s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--terciary); 
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

input[type="range"]:hover {
  background: #888;
}

input[type="range"]:active::-webkit-slider-thumb {
  background: #e74c3c;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--terciary);
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  width: 200px;
  height: 8px;
  background: #ccc;
  border-radius: 5px;
}